#global
**/node_modules
/front/platforms
/front/plugins

# testing
/front/_reactApp/coverage

# production
/front/_reactApp/build
/front/www

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*