#global
**/node_modules
/www
/front_cordova_wrapper/platforms
/front_cordova_wrapper/plugins
/front_cordova_wrapper/_react_app/src/index.css
/backend/credentials.js
/front_cordova_wrapper/build.json
/front_cordova_wrapper/android.keystore

# testing
/front_cordova_wrapper/_react_app/coverage

# production
/front_cordova_wrapper/_react_app/build
/front_cordova_wrapper/www

# misc
.DS_Store
.env
.idea
/backend/credentials.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*