#global
**/node_modules
/front/platforms
/front/plugins
/front/_reactApp/src/index.css
/backend/credentials.js
/front/build.json
/front/android.keystore

# testing
/front/_reactApp/coverage

# production
/front/_reactApp/build
/front/www

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*