
// colors
$cl_greyBB: #bbb;
$cl_grey33: #333;
$cl_grey55: #555;
$cl_whiteFF: #fff;
$cl_black00: #000;
$cl_bkackTransparent: #00000033;
$cl_fuchsia: #f012be;

// other
$border-transparent-width: 3px;
$border-transparent-radious: 6px;